<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tiaozhanbei.mapper.InfoMapper">

<!--    int insertInfo(Info info);-->
    <insert id="insertInfo">
        INSERT INTO `info`(`image1`, `image1_type`, `image2`, `image2_type`, `patient_gender`, `patient_age`, `patient_name`, `keyword`, `diagnosis`, `created_at`)
        VALUES(#{image1}, #{image1Type}, #{image2}, #{image2Type}, #{patientGender}, #{patientAge}, #{patientName}, #{keyword}, #{diagnosis}, #{createdAt})
    </insert>

<!--    int deleteInfo(Info info);-->
    <delete id="deleteInfo">
        DELETE FROM `info`
        <where>
            <if test="patientGender != null">
                patient_gender = #{patientGender}
            </if>
            <if test="patientAge != null">
                AND patient_age = #{patientAge}
            </if>
            <if test="patientName != null">
                AND patient_name LIKE CONCAT('%', #{patientName}, '%')
            </if>
            <if test="keyword != null">
                AND keyword LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="diagnosis != null">
                AND diagnosis LIKE CONCAT('%', #{diagnosis}, '%')
            </if>
            <if test="createdAt != null">
                AND created_at = #{createdAt}
            </if>
        </where>
    </delete>

<!--    List<Info> selectInfo(Info info);-->
    <select id="selectInfo" resultType="info">
        SELECT * FROM `info`
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="patientGender != null">
                patient_gender = #{patientGender}
            </if>
            <if test="patientAge != null">
                AND patient_age = #{patientAge}
            </if>
            <if test="patientName != null">
                AND patient_name LIKE CONCAT('%', #{patientName}, '%')
            </if>
            <if test="keyword != null">
                AND keyword LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="diagnosis != null">
                AND diagnosis LIKE CONCAT('%', #{diagnosis}, '%')
            </if>
            <if test="createdAt != null">
                AND created_at = #{createdAt}
            </if>
        </where>
    </select>

<!--    List<Info> selectAll();-->
    <select id="selectAll" resultType="info">
        SELECT * FROM `info`;
    </select>

<!--    int updateInfo(Info info);-->
    <update id="updateInfo">
        UPDATE `info`
        <set>
            <if test="image1 != null">
                image1 = #{image1},
            </if>
            <if test="image1Type != null">
                image1_type = #{image1Type},
            </if>
            <if test="image2 != null">
                image2 = #{image2},
            </if>
            <if test="image2Type != null">
                image2_type = #{image2Type},
            </if>
            <if test="patientGender != null">
                patient_gender = #{patientGender},
            </if>
            <if test="patientAge != null">
                patient_age = #{patientAge},
            </if>
            <if test="patientName != null">
                patient_name = #{patientName},
            </if>
            <if test="keyword != null">
                keyword = #{keyword},
            </if>
            <if test="diagnosis != null">
                diagnosis = #{diagnosis},
            </if>
        </set>
        WHERE id = #{id}
    </update>

<!--    IPage<Info> selectPageInfo(IPage<Info> page,-->
<!--    @Param("gender") String gender, @Param("age") Short age, @Param("name") String name,-->
<!--    @Param("keyword") String keyword, @Param("diagnosis") String diagnosis,-->
<!--    @Param("queryStart") LocalDateTime queryStart, @Param("queryEnd") LocalDateTime queryEnd);-->
    <select id="selectPageInfo" resultType="info">
        SELECT id, patient_gender, patient_age, keyword, diagnosis, created_at FROM `info`
        <where>
            <if test="gender != null">
                AND patient_gender = #{gender}
            </if>
            <if test="age != null">
                AND patient_age = #{age}
            </if>
            <if test="name != null">
                AND patient_name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="keyword != null">
                AND keyword LIKE CONCAT('%', #{keyword} , '%')
            </if>
            <if test="diagnosis != null">
                AND diagnosis LIKE CONCAT('%', #{diagnosis}, '%')
            </if>
            <if test="queryStart != null">
                AND created_at &gt;= #{queryStart}
            </if>
            <if test="queryEnd != null">
                AND created_at &lt;= #{queryEnd}
            </if>
        </where>
    </select>

</mapper>